@font-face {
    font-family: "myFont";
    src: url("webfontkit-20241109-145847/ptn77f-webfont.woff");
}


:root {
    font-family: "myFont";
}


.container {
    display: grid;    
    grid-template-columns: 230px 1fr;
    border: 1px solid black;
    margin: auto;
    
}

.header {
    background-color: orange;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 50px 60px;
    gap: 15px;
}

.article {
    background-color: green;
}

.sidebar {
    background-color: blue;  
    display: grid;
    gap: 35px;
    grid-row: 1 / 4;
}

.sidebar_header {
    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;    
    margin-left: 4px;
}

.sidebar_dashboard {    
    align-self: center;
    color: white;
    margin-right: 80px;
    font-size: 1.5rem;
}

#dashboard_icon{
    fill: white;
    width: 30px;
    height: 25px;
}

.sidebar_user_info, .sidebar_control_support {
    display: grid;
    gap: 22px;
    margin-left: 10px;
}

.empty_div {
    grid-row: 4 / 9;
}

.home, .profile, .messages {
    display: grid;
    grid-auto-flow: column;
    align-items: end;   
    justify-content: flex-start;
}

.privacy span,.support span, .home span, .profile span, .messages span, .history span, .tasks span, .community span, .settings span {    
    font-size: 1.3rem;
    color: white;
    margin-left: 6px;
    
}


.privacy svg,.support svg ,.home svg, .profile svg, .messages svg, .history svg, .tasks svg, .community svg, .settings svg{
    fill: white;
    width: 30px;
    height: 20px;
    
}

.history span, .tasks span {
    margin-left: 2px;
    margin-bottom: 10px;
    position: relative;
    top: -1.5px;
}

.community span{
    margin-left: 3px;
    position: relative;
    top: -1px;
}

.settings span {
    position: relative;
    top: -2px;
}

.support span {
    position: relative;
    top: -2px;
}

.privacy span {
    position: relative;
    top: -2px;
}


.header_top {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 30px;
/*   grid-auto-flow: column; */
  background-color: purple;
  gap: 60px;
  justify-content: start;
  margin-top: 10px;
  align-content: center;
}

input {
  border-radius: 10px;
  border-style: none;
 
  height: 25px;
  /* margin-left: -90px; */
 
}

.header_top_left {
    background-color: blue;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.header_top svg {    
    width: 30px;
    height: 30px;
}

#magnify{
  margin-left: 20px;
  align-self: center;
}

#bell{
  fill: white;   
  /* position: relative;
  top: 22px; */
  margin-left: 20px;
  /* background-color: brown; */
}

.header_right {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 60px 150px;
  /* gap: 10px; */
  align-content: center;
  background-color: blue;
  justify-content: center;
  align-items: center;
  /* margin-right: 150px; */
}

.header_right img{    
    width: 60px;
    /* background-color: saddlebrown; */
    /* height: 60px; */    
}

.header_right div:nth-child(3){
    font-size: 1.5rem;
    /* position: relative;
    top: 22px; */
    
}

.header_bottom {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 350px;
  justify-content: space-between;
  /* gap: 100px; */
}

.header_bottom_left {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px 200px;
  margin-left: 25px;
  gap: 15px;
}

.header_bottom_left > div:nth-child(2) > div:nth-child(2){
  background-color: pink;
  margin-top: 10px;
  font-size: 1.2rem;
}

.header_bottom_left img {
    width: 100px;
    /* background-color: blue; */
    position: relative;
    top: -29px;
    right: 30px;
}

.header_bottom_right {
  /* background-color: skyblue; */
  display: grid;
  grid-auto-flow: column;
  /* justify-content: space-around; */
  align-content: center;
  position: relative;
  top: -15px;
  gap: 10px;
}

.header_bottom_right button{
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
}


.article {
    display: grid;
    grid-template-columns: 500px 190px;
    gap: 10px;
    margin-left: 10px;
}

.cards_container{
    background-color: blue;
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 7px;
}

 /* img{
    height: 150px;
    width: 200px;
    background-color: orange;
       
} */

