@font-face {
    font-family: "myFont";
    src: url("webfontkit-20241109-145847/ptn77f-webfont.woff");
}


:root {
    font-family: "myFont";
}


.container {
    display: grid;    
    grid-template-columns: 230px 1fr;
    border: 1px solid black;
    margin: auto;
    
}

.header {
    background-color: #5E88A5;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 50px 60px;
    gap: 15px;
}

.article {
    background-color: #EEEEEE;
}

.sidebar {
    background-color: #094169;  
    display: grid;
    gap: 35px;
    grid-row: 1 / 4;
    
}

.sidebar_header {
    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;    
    margin-left: 4px;
}

.sidebar_dashboard {    
    align-self: center;
    color: white;
    margin-right: 100px;
    font-size: 1.2rem;
    margin-top: -17px;
}

#dashboard_icon{
    fill: white;
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.sidebar_user_info, .sidebar_control_support {
    display: grid;
    gap: 22px;
    margin-left: 10px;
}

.empty_div {
    grid-row: 4 / 9;
}

.home, .profile, .messages {
    display: grid;
    grid-auto-flow: column;
    align-items: end;   
    justify-content: flex-start;
}

.privacy span,.support span, .home span, .profile span, .messages span, .history span, .tasks span, .community span, .settings span {    
    font-size: 1.1rem;
    color: white;
    margin-left: 16px;
    
}


.privacy svg,.support svg ,.home svg, .profile svg, .messages svg, .history svg, .tasks svg, .community svg, .settings svg{
    fill: white;
    width: 15px;
    height: 20px;
    margin-left: 7px;
}

.history span, .tasks span {
    margin-left: 13px;
    margin-bottom: 10px;
    position: relative;
    top: -1.5px;
}

.community span{
    margin-left: 13px;
    position: relative;
    top: -1px;
}

.settings span {
    position: relative;
    top: -2px;
}

.support span {
    position: relative;
    top: -2px;
}

.privacy span {
    position: relative;
    top: -2px;
}

.sidebar_control_support {
    margin-top: 10px;
    
}

.sidebar_control_support span {
    margin-left: 14px;
}
.header_top {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 30px;
  gap: 60px;
  justify-content: start;
  margin-top: 10px;
  align-content: center;
}

input {
  border-radius: 10px;
  border-style: none;
  height: 25px;
}

.header_top_left {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.header_top svg {    
    width: 30px;
    height: 30px;
    fill: white;
}

#magnify{
  margin-left: 20px;
  align-self: center;
}

#bell{
  fill: white;   
  margin-left: 20px;
}

.header_right {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 60px 150px;
  align-content: center;
  color: white;
  justify-content: center;
  align-items: center;
}

.header_right img{    
    width: 60px;
}

.header_right div:nth-child(3){
    font-size: 1.5rem;
}

.header_bottom {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 350px;
  justify-content: space-between;
}

.header_bottom_left {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px 200px;
  margin-left: 25px;
  gap: 15px;
  color: white;
}

.header_bottom_left > div:nth-child(2) > div:nth-child(2){
  margin-top: 10px;
  font-size: 1.2rem;
}

.header_bottom_left img {
    width: 100px;
    position: relative;
    top: -29px;
    right: 30px;
    
}

.header_bottom_right {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  position: relative;
  top: -15px;
  gap: 10px;
}

.header_bottom_right button{
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #094169;    
  color: white;
  
}


.article {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1px;    
}


.cards_container{
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    
}

.card img{
    height: 210px;
}

.article > div:nth-child(1), .article > div:nth-child(2){
    color: black;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: 10px;
}

.right_side_bar {
    display: grid;
    grid-template-rows: 300px 1px 300px;
    gap: 20px; 
    margin-right: 10px;
    margin-left: 10px;
}

.right_side_bar .top{
    background-color: white;
    display: grid;  
}

.right_side_bar .top {
    padding: 20px;
}


hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.right_side_bar .top .maintenance p:last-child{
    margin-bottom: -15px;
    margin-top: 10px;
}


.right_side_bar .share_day{
    margin-top: 10px;
}

.right_side_bar div > p:last-child {
     font-size: 0.7rem;
}

.last_div{
    background-color: orange;
    display: grid;
    margin-top: -6px;
}

.horse_div, .user_div, .avatar1_div, .avatar2_div {    
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 50px;
    grid-auto-flow: column;
    align-items: center;
    background-color: white;
    padding: 15px;
  
}

.last_div svg {
    width: 35px;
    padding: 5px;
    border-radius: 100%;
    background-color:  rgb(182, 161, 206);
}

.last_div img {
    width: 43px;
    padding: 3px;
    background-color:  rgb(182, 161, 206);
    border-radius: 100%;
}

.trending {
    margin-top: -6px;
}

/* later on add repo and livepreview button on each project */